.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: 1px solid #fd0f0f;
    background-color: #f9f9f9;
    height: 50vh;
    width: 300px; /* Ancho del formulario */

}


.form-container {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura de la pantalla completa */
    font-size: 48px;
  }
  
  /* Estilos para el formulario */
  form {
    display: flex;
    flex-direction: column; /* Alinea los campos en columna */
    width: 300px; /* Ancho del formulario */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  /* Estilos opcionales para los inputs */
  input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #c90303;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }